@import "tailwindcss";
@import "./style/theme.css";
/* @import "./style/fonts.css"; */


/* in your global CSS */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
}
.animate-shake {
  animation: shake 0.5s infinite;
}


@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(2.5); }
}

.animate-zoom {
  animation: zoom 1s infinite;
}
